@use '../setting/setting' as f;



/* ==========基本設定============= */

#start {
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 16;
  }

  .startFadeOut {
    opacity: 0;
    transition: 1s;
    z-index: -1 !important;
    width: 100%;
    height: 100%;
  }

  html{



  body {
background-color: f.$body;
    font-family: f.$main;
    font-weight: 100;
    letter-spacing: 0.08em;
    color: f.$text;
    span.sub-color {
      color: #e1b85d;
    }
}

h1{
  font-size: 4rem;
  // font-family: f.$h2;
  // font-weight: 400;
  color: f.$text;
}

h2{
  font-size: 9.6rem;
  // font-family: f.$h2;
  // font-weight: 400;
  color: f.$white;
  -webkit-text-stroke: 2px f.$sub-brue;
}
h3{
  font-size: 3.6rem;
  // color: f.$sub-brue;

}
  p{
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: f.$text;
    font-size: 1.6rem;
  }
  a{
    font-size: 1.6rem;
  }

  .main__inner{
    overflow-y: scroll;
  }
}

img{
  width: 100%;
}


.stalker {
  pointer-events: none;
  position: fixed;
  top: -8px;     //座標調節（カーソル位置と円の中心を合わせる）
  left: -8px;    //座標調節（カーソル位置と円の中心を合わせる）
  width: 24px;   //マウスストーカーの直径
  height: 24px;  //マウスストーカーの直径
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  transition: transform 0.2s, top, 0.5s, left 0.5s, width .5s, height .5s, background-color .5s;
  transition-timing-function: ease-out;
  z-index: 999;
  &.hov_{
    top: -32px;     //大きさに合わせて座標調節
    left: -32px;    //大きさに合わせて座標調節
    width: 40px;
    height: 40px;
    transition: .5s;
    border: 1px solid #333;
    background: rgba(0,0,0,0);
  }
}

.bottomLine{
  width: 90%;
  height: 1px;
  position: absolute;
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
  background:#333 ;

}

.scroll-child{
  background-color: azure;
}


.jpn{
  display: none;
}

.scroll-wrapper{
  height: 100vh;
}


#mouse-stalker {
  pointer-events: none;
  position: fixed;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  // background: #fff;
  border: 1px solid #333;
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.2s;
  transition-timing-function: ease-out;
  z-index: 999;
  // mix-blend-mode: difference;


  &.is_active {
    top: -40px;
    left: -40px;
    width: 80px;
    height: 80px;
    transition: 0.2s;
  }
}

.content {
  display: flex;
  height: calc(100vh - 90px);
}

.content_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: #000;

  .link-item {
    display: block;
    padding: 20px;
    margin: 10px 0 0;
    color: #000;
    background: #fff;
    border-radius: 50px;
    text-decoration: none;

  }

  p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
}

.content_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: #fff;

  .link-item {
    display: block;
    padding: 20px;
    margin: 10px 0 0;
    color: #fff;
    background: #000;
    border-radius: 50px;
    text-decoration: none;
  }

  p {
    color: #000;
    font-size: 18px;
    font-weight: bold;
  }
}


/* 以下、関係のない記述です。 */

@media screen and (max-width: 767px) {
.content_right {
  .link-item {
    padding: 10px;
    margin: 5px 0 0;
    font-size: 10px;
  }

  p {
    font-size: 10px;
  }
}
.content_left {
  .link-item {
    padding: 10px;
    margin: 5px 0 0;
    font-size: 10px;
  }

  p {
    font-size: 10px;
  }
}

}
