@use '../../setting/setting' as f;

.fv{
// position: relative;
// width: 80vw;
// height: 80vw;
// margin: 0 auto;

}

.fv__inner {
  position: relative;
  display: flex;
justify-content: center;
align-items: center;
height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid f.$text ;
  h1{
    span{
      color: f.$main-color;
    }
  }
}

.line1{
  position: absolute;
  top: 8%;
  left: 8%;
  height: 80vh;
  width: 1px;
  background-color: f.$text;
}

.fv__textBox{

  grid-column: 2 / 12;
  grid-row: 3 / 4;
  padding: 40px;
  h1{
    font-size: 6.4rem;
      }



}
.fv__textSub{
  p{
    font-size: 3.2rem;
  }
}

.fv__icon{
  position: absolute;
  bottom: 12%;
  left: 12%;
  max-width: 60px;
}



.fv__languagesBox{
  position: absolute;
  top: 10%;
  right: 10%;



}

.fv__icon{
  width: 300px;
}
