@use '../../setting/setting' as f;

.fv{
position: relative;
height: 100vh;
}

.fv__inner {
  display: flex;
  height: 100vh;
}

.fv__leftBox{
  width: 50%;
  border-right: 1px solid f.$black;
display: flex;
align-items: center;
    justify-content: center;
    position: relative;
}
.fv__textBox{
  padding: 40px;
  h1{
    font-size: 4.8rem;
      }

}
.fv__textSub{
  p{
    font-size: 2.4rem;
  }
}

.fv__icon{
  position: absolute;
  bottom: 12%;
  left: 12%;
  max-width: 60px;
}

.fv__rightBox{
width: 50%;
}

.fv__img{
  width: 250px;
}

.fv__languagesBox{
  position: absolute;
  top: 10%;
  right: 10%;


  p{
    // transform: rotate(90deg);
    color: #000;
    // text-shadow: 1px 1px 2px #333;
    // color:  #ffba53;

  }

}

.fv__border{
  width: 200px;
  height: 6px;
  background: #ffba53;
}

.fv__border1{
  grid-area:g;
}
.fv__border2{
  grid-area: i;
}
.fv__border3{
  grid-area: o;
}

.fv__bottomLine{
  // background: linear-gradient(90deg, #333 0%,#333 50%,#fff 50%,#fff 100%);
  background: #333;
}


.sample-demo {
  margin: 0 0 40px 0;
  padding: 0;
  // height: 100vh;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // position: fixed;
  // top: 50%;
  position: fixed;
  bottom: 0px;
  top: 300px;
  right: 0px;
  width: 500px;
  z-index: 3;
}
.sample-demo #demo {
  // height: 100vh;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.sample-demo #demo li {
  width: 100%;
  height: 100%;
  position: absolute;
  // display: block;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  height: 500px;
}
.sample-demo #demo li .bg {
  // background: url(1.png) no-repeat;
  background-size: cover;
  bottom: 0;
  position: absolute;
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
}
.sample-demo #demo li .bg2 {
  // background: url(2.png) no-repeat;
  background-size: cover;
  bottom: 0;
  position: absolute;
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
}
.sample-demo #demo li .img {
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}
.sample-demo #demo li .txt {
  text-align: center;
  margin-top: 15%;
  color: #fff;
}

.layer-kumo1{
  left: 50px !important;
  top: 30px !important;
}
.layer-kumo2{
  left: -100px !important;
  top: 20px !important;
}
.layer-kumo3{
  left: 30px !important;
  top: -10px !important;
}


.img-3d{
	width: 200px;
	height: 200px;
	margin: 50px 30px;
	border-radius: 50%;
	position: relative;
	background: #FFF;
	box-shadow: -20px -10px 50px 5px rgba(0, 0, 0, .5) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}


.img-3d::after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30px;
	margin: auto;
	width: 120px;
	height: 4px;
	border-radius: 50%;
	background: #000;
	filter: blur(4px);
	z-index: -1;
}
