@use '../../setting/setting' as f;

.container {
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: no-wrap;
}

.panel {
  will-change: transform;
  width: calc(600% / 6);
}



// .blue{
// 	background-color: blue;
// 	// transform: translateZ(-1000px);
// }
.red{
	background-color: red;
}
.gray{
	background-color: gray;
}
.purple{
	background-color: purple;
}
.green{
	background-color: green;
}
